<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="miRoScripterLocalApiExtention.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <miRoScripterLocalApiExtention.My.MySettings>
            <setting name="miRoScripterLocalApiExtention_NVT_SNMP_Service_miRo_NvtSnmpService" serializeAs="String">
                <value>http://192.168.176.194/MiRo_SnmpService/miRo_NvtSnmpService.asmx</value>
            </setting>
            <setting name="miRoScripterLocalApiExtention_webService_Alarming_alarming" serializeAs="String">
                <value>http://192.168.176.194/alarmPanel/alarming.asmx</value>
            </setting>
            <setting name="miRoScripterLocalApiExtention_GOIRTrans_Service_IRTrans" serializeAs="String">
                <value>http://tns247.inet.telenet.be/irtransservice/irtransservice.asmx</value>
            </setting>
            <setting name="miRoScripterLocalApiExtention_CPPS_CPPS" serializeAs="String">
                <value>http://192.168.176.194/CAS/CAS.asmx</value>
            </setting>
            <setting name="miRoScripterLocalApiExtention_NVT_IP_Service_miRo_NvtIpService" serializeAs="String">
                <value>http://192.168.176.194/MiRo_IpAddress/miRo_NvtIpService.asmx</value>
            </setting>
            <setting name="miRoScripterLocalApiExtention_TupService_MiRo_TupService" serializeAs="String">
                <value>http://192.168.176.194/TUP/MiRo_TupService.asmx</value>
            </setting>
            <setting name="miRoScripterLocalApiExtention_RatingEngine_RatingEngine" serializeAs="String">
                <value>http://192.168.176.194/FlexRating/RatingEngine.asmx</value>
            </setting>
            <setting name="miRoScripterLocalApiExtention_MiRo_SCRIPTER_EPG_MiRo_SCRIPTER_EPG" serializeAs="String">
                <value>http://192.168.176.194/Scripterws/MiRo_SCRIPTER_EPG.asmx</value>
            </setting>
        </miRoScripterLocalApiExtention.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPSData"/>
                <binding name="miRo_NvtSnmpServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.30.188.92/scripterservices/ps_household/PSData.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPSData" contract="PSDetails.IPSData" name="BasicHttpBinding_IPSData"/>
            <endpoint address="http://172.30.188.92/miRoNvtSnmpService/miRo_NvtSnmpService.asmx" binding="basicHttpBinding" bindingConfiguration="miRo_NvtSnmpServiceSoap" contract="miRo_NvtSnmpServiceClient.miRo_NvtSnmpServiceSoap" name="miRo_NvtSnmpServiceSoap"/>
        </client>
    </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
      </startup>
</configuration>
